extends ../layout-admin.pug

//- block adminStyles
//- 	link(rel="stylesheet", href="/vendors/bootstrap/dist/css/bootstrap.min.css")

block content
	include ../nav-admin.pug
	include ../left-nav-admin.pug
	div(class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16")
		+left-menu(false, false, true)
		div(class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded shadow-xl flex flex-wrap overflow-x-auto")
			h1.title(class="w-full px-2 mb-4 text-xl font-bold uppercase text-gray-600") Ver Usuarios
			h2.subtitle(class="w-full px-2 mb-4 text-lg font-bold text-gray-500") Todos los usuarios registrados
			form.my-4#searchForm
				label.block.text-gray-700.text-sm.font-bold.mb-2(for="search") Buscar usuarios
				.mb-1.flex
					input.appearance-none.border.rounded-tl.rounded-bl.w-full.py-2.px-3.text-gray-700.leading-tigt.inline-block#search(type="text", placeholder="Ej. Rodrigo García", class="focus:outline-none focus:shadow-none focus:border-gray-500", name="search")
					button.custom-button-admin.inline-block.rounded-tr.rounded-br(type="submit", class="text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline") Buscar
				p.text-xs.text-gray-400 Escribe el texto que desees buscar del usuario con la información de la tabla a excepción de la dirección MAC
			table.w-full.text-left.table-collapse
				thead
					tr
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 Registro
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 Nombre
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 Género
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 Nacimiento
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 Correo
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 Url continuación
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 IP
						th.text-sm.font-semibold.text-gray-700.p-2.bg-gray-200 MAC
				tbody.align-center.table-users
					each user in users
						tr.user(data-search=`["${user.date}", "${user.name} ${user.lastname}", "${user.gender}", "${user.birthday}", "${user.modem_data.client_ip}", "${user.modem_data.user_continue_url}", "${user.email}"]`)
							td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.date
							td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=`${user.name} ${user.lastname}`
							td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.gender
							td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.birthday
							td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.email
							if user.modem_data.base_grant_url
								td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.modem_data.user_continue_url
								td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.modem_data.client_ip
								td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600=user.modem_data.client_mac
							else
								td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600
								td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600
								td.p-2.border-t.border-gray-300.text-xs.whitespace-no-wrap.text-gray-600

block scripts
	script.
		document.addEventListener('DOMContentLoaded', function(){
			//-- Default Scripts to load
			UTILS.search();
		});